{% extends 'base.html' %}
{% load static %}

{% block title %}
    天健寺的博客网站|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <!-- 引入 highcharts.js -->
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <body>
        <!-- 热门博客 -->
        <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">今日热门博客</div>
                <div class="panel-body">
                    <h3>今日热门博客</h3>
                    <ul>
                        {% for hot_data in today_hot_data %}
                            <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">
                                {{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})
                            </li>
                        {% empty %}
                            <li>今日暂无热门博客</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">昨日热门博客</div>
                <div class="panel-body">
                    <h3>昨日热门博客</h3>
                    <ul>
                        {% for hot_data in yesterday_hot_data %}
                            <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">
                                {{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})
                            </li>
                        {% empty %}
                            <li>昨日暂无热门博客</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">一周热门博客</div>
                <div class="panel-body">
                    <h3>一周热门博客</h3>
                    <ul>
                        {% for hot_blog in hot_blogs_for_7_days %}
                            <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>({{ hot_blog.read_num_sum }})</li>
                        {% empty %}
                            <li>暂无热门博客</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="home-content">欢迎访问我的博客网站</h3>
                </div>
                <div class="panel-body">
                    <!-- 图表容器 DOM -->
                    <div id="container"></div>
                    <script>
                        // 图表配置
                        var options = {
                            chart: {
                                type: 'line'                          //指定图表的类型，默认是折线图（line）
                            },
                            title: {
                                text: '博客七日阅读量'                 // 标题
                            },
                            xAxis: {
                                categories: {{ dates|safe }},
                                tickmarkPlacement: 'on',
                            },
                            yAxis: {
                                title: {text: null},
                                labels: {enabled: false},
                                gridLineDashStyle: 'Dash',             // Y轴标签
                            },
                            plotOptions: {                                   // 数据标签
                                line: {
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            series: [{                              // 数据列
                                name: '阅读量',                        // 数据列名
                                data: {{ read_nums }}                     // 数据
                            }],
                            legend: {enabled: false},             // 不显示图例名
                            credits: {enabled: false},            // 不显示版权信息

                        };
                        // 图表初始化函数
                        var chart = Highcharts.chart('container', options);
                    </script>
                </div>
            </div>
        </div>
    </body>


{% endblock %}